body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#newReviewForm {
  color: black;
  height: 1000px;
  display: flex;
  flex-direction: column;
  margin: 1rem;
}

.cardtext {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: 8px;
}

#coverart {
  width: 100%;
  border-bottom: solid;
 }
 
 .card {
  background-color: white;
  width: 40%;
  display: inline-block;
  margin: 4%;
  height: 80%;
  border-style: solid;
  text-align: center;
}

#backgroundimg {
  background-color: #74b9ff;
  width: 100%;
  height: 1000px;
  z-index: 1;
  text-align: center;
}

#mainbackground {
  background-color: #74b9ff;
}

.NavButtons {
  display: inline-block;
  padding: 2.5rem, 2rem;
  width: 9rem;
  font-size: 2vw;
  margin: 50px;
}

#divcontainer {  
  text-align: center;
}

#homepageHeader {
  display: inline-block;
  margin:0 auto;
  z-index: 3;
  color: rgb(255, 255, 255);
  position: relative;
  top: 100x;
  font-size: 12vw;
}

.homepageSubheader {
  color: white;
  font-size: 4vw;
}

#exploreheader {
  color: white;
  font-size: 6vw;
  text-align: center;
}

#newReviewForm {
  color: white;
  height: 1000px;
  display: flex;
  flex-direction: column;
  margin: 1rem;
}

#reviewHeader {
  color: white;
  text-align: center;
  font-size: 6vw;
}

.deleteButton {
  width: 100%;
}